body{
    background-color: black;
    color: red;
}



.form1{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    font-size: 45px;
}

h2{
    text-align: center;
    font-size: 35px;
}

.inputs{
    display: flex;
    margin: auto;
}

input{
    background-color: black;
    color: red;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 5px solid red;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}


button{
    background-color: black;
    color: red;
    border-color: black;
    margin:auto;
    width: 100px;
    height: 100px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 50px;
}

button:hover{
    scale: 1.1;
    transition-duration: 0.25s;
}


