/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  width: 70vw;
  padding: 10px;
}

.carousel-cell {
  width: 18rem;
  height: auto;
  margin-right: 10px;
  border-radius: 20px;
  counter-increment: gallery-cell;
}

#blank {
  max-width: 100%;
  height: 150px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#labelhead{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 5rem;
  font-family: 'Anton', sans-serif;
  color: rgb(121, 93, 198);
  margin-bottom: 0;
}
