:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --bg-primary: #050b57;
    --bg-secondary: #0a1e5e;
    --text-primary: black;
    --text-secondary: white;
    
}

/* .bg-dark {
    --bs-dark-rgb: #0a1e5e;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
} */

body {
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1a2a47;
}

body::-webkit-scrollbar-thumb {
    background: #31D7A9;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    min-width: 375px;
}

.logo-img {
    height: 150px;
    min-width: 100px;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
}

.logo-text {
    display: flex;
    font-family: 'Pacifico', cursive;
    font-size: 5vh;
    color: rgb(185, 89, 248);
}

.navbar {
    background-color: var(--bg-primary);
    box-shadow: 5px 5px 7px rgb(18, 21, 51);
}

.navbar-nav {
    --bs-nav-link-color: rgb(253 250 250);
    --bs-nav-link-hover-color: rgb(185, 89, 248);
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content:space-around;
}

.nav-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

ul {
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

.d-flex {
    height: auto;
    margin: 0;
}

ul:not(.u-unstyled) {
    margin: 0;
}

.nav-item {
    min-width: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    font-weight: 600;
}

.nav-pills {
    --bs-nav-pills-link-active-bg:rgb(185, 89, 248);
    --bs-navbar-active-color: rgb(255 251 251 / 90%);
}

.btn-outline-success {
    --bs-btn-color:rgb(185, 89, 248);
    --bs-btn-border-color: rgb(185, 89, 248);
    --bs-btn-hover-bg: rgb(185, 89, 248);
    --bs-btn-hover-border-color: rgb(185, 89, 248);
    --bs-btn-active-bg: rgb(185, 89, 248);
    --bs-btn-active-border-color: rgb(185, 89, 248);
    --bs-btn-disabled-color: rgb(185, 89, 248);
    --bs-btn-disabled-border-color: rgb(185, 89, 248);
}

.btn:hover {
    background-color: rgb(185, 89, 248);
    color: var(--bg-primary);
}

.active {
    background-color: rgb(185, 89, 248);
    color: var(--bg-primary);
}

#blank {
    max-width: 100%;
    height: 120px;
  }