.movie-card{
    /* width:100%;
    height: 100%; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.moviethumb {
    max-width: 100%;
    transition: all 0.3s ease;
}

.moviecover {
    max-width: 100%;
    /* height: calc(100% - 30px); */
    object-fit: cover;
}

.movie-content > ul {
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}