h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: red;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
}
img{
    max-width: 30%;
    margin-left:150px;
}

div{
    padding-top : 10px;
    padding-bottom: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div:hover{
    font-style: italic;
    color: black;
    font-size: 20px;
    font-weight: 1000;
}
label {
    display: block;
    
    width: 50px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 45px;
  }