img{
    display:block;
    margin: auto;
}

h1{
    text-align: center;
    color: blue;
    font-size: 40px;
}

h2{
    text-align: center;
    font-size: 30px;
    color: blue;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label{
    font-size: 25px;
    font-weight: 700;
    margin-top: 12px;
    color: blue;
}

input{
    width: 320px;
    height: 20px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 0.25s;
}