<link rel="stylesheet" href="../CSS/enterCode.css">
<h1>Enter the code we have sent to <%= email %></h1>
<h2><%= incorrect %></h2>
<form action="/codeEntered" method="post">
    <div class="inputs">
        <input type="text" name="digit_1">
        <input type="text" name="digit_2">
        <input type="text" name="digit_3">
        <input type="text" name="digit_4">
        <input type="text" name="digit_5">
        <input type="text" name="digit_6">
    <button>Enter</button>
</form>
<button>Resend</button>