<link rel="stylesheet" href="../CSS/enterCode.css">
<h1>Enter the code we have sent to <%= email %></h1>
<form class="form1" action="/codeEntered" method="post">
    <div class="inputs">
        <input type="number" min="0" max="9" name="digit_1">
        <input type="number" min="0" max="9" name="digit_2">
        <input type="number" min="0" max="9" name="digit_3">
        <input type="number" min="0" max="9" name="digit_4">
        <input type="number" min="0" max="9" name="digit_5">
        <input type="number" min="0" max="9" name="digit_6">
        <button>Enter</button>
</form>
<form action="/resend/<%= email %>" method="post">
    <button>Resend</button>
</form>