<link rel="stylesheet" href="../CSS/nicepage.css" media="screen">
<link rel="stylesheet" href="../CSS/Home.css" media="screen">
<script class="u-script" type="text/javascript" src="../JS/jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="../JS/nicepage.js" defer=""></script>
<meta name="generator" content="Nicepage 5.0.7, nicepage.com">
<link id="u-theme-google-font" rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">


<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/9cc20ec27e262e6b503db2b8e39e451b26e4ffe864a96292684a582de300ba4ec24c3f37915c2a545a16a3f3fd9ee9180ea892e5e33d5c330d3bc9_1280.jpg",
		"sameAs": []
}</script>
<meta name="theme-color" content="#478ac9">
<meta property="og:title" content="Home">
<meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" data-lang="en">

  <%- include('partials/navbar') %>

    <section class="u-clearfix u-image u-shading u-section-1" id="carousel_9fe7" data-image-width="5616"
      data-image-height="3744">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-shape-rectangle u-size-23 u-layout-cell-1">
                <div
                  class="u-border-20 u-border-palette-4-base u-container-layout u-valign-middle u-container-layout-1">
                  <h5 class="u-custom-font u-font-montserrat u-text u-text-1">ABA CINEMA</h5>
                  <p class="u-text u-text-2">The ABA Cinema prides itself on being a multi-city state-of-the-art 3-D
                    cinema, the first of its kind,<br> guaranteeing a complete movie
                    experience from the vintage architectural expression of the
                    Roman Colosseum<br> to the enchanting ambiance within.
                  </p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-shape-rectangle u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <p class="u-text u-text-3">ABA cinemas are equipped with Barco DP4K projector, the brightest projector
                    in the world, silver screen and 7.1 channel digital QSC sound. The premiere hall has a
                    theater-like-feel housing more than 200 seats along with VIP boxes having 6 Lay-Z boy recliners
                    each.
                    <br>
                    <br>
                    Our concession area contains a variety of delicious items to choose from. From the traditional
                    popcorn and nachos deals to various hot and cold beverages, we have it all. Now enjoy the greatest
                    food, drink and movie, all in one place.
                    <br>
                    <br>
                    The ABA meets the highest benchmark in services and customer care making sure every moment you spend
                    here is a moment to remember. Serving exclusive cuisines and delights, lavish waiting areas in the
                    lobby with a rich aura, your memorable cinematic experience at The ABA eagerly awaits you.<br>
                    <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>