<h1>Insert Film</h1>

<form action="/filmInsert" method="post">
    <label for="filmName">Enter Film Name</label>
    <input type="text" name="filmName">

    <label for="genre">Enter Genre</label>
    <input type="text" name="genre" required>

    <label for="desc">Enter Description</label>
    <input type="text" name="desc" required>

    <label for="runTime">Enter Run Time</label>
    <input type="text" name="runTime" required>

    <label for="rating">Enter Rating</label>
    <input type="text" name="rating" required>

    <label for="imgUrl">Enter Cover Image Url</label>
    <input type="file" name="imgUrl" id="imageSelecter" class="form-control-file border" required/>

    <label for="startDate">Enter Start Date</label>
    <input type="text" name="startDate" required>

    <label for="endDate">Enter End Date</label>
    <input type="text" name="endDate" required>

    <button>Submit</button>

</form>