<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="../CSS/register_member_syle.css">

<h1>Member Registration</h1>

<div class="box">
	<a class="button" href="#popup1">Member Benefits</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Member Benefits</h2>
        <div class="content">
            • Free Gift Vouchers<br>
            • Free Ticket Wednesday<br>
            • 10% off on all concessions<br>
            • Special Screenings/ Premiers.<br>
            • Weekly Movie Schedule (sms/email)<br>
            • Affiliate / Partner’s Offers and Discounts.<br>
		</div>
		<a class="close" href="#">×</a>
		
	</div>
</div>

<script>
  function myFunction() {
    document.getElementById("check").style.color = "black";
  }
  </script>
<form>
    <div class="formDiv">
        <div class="labels">
            <label for="firstName">First Name</label>
            <label for="lastName">Last Name</label>
            <label for="cnic">CNIC</label>
            <label for="DOB">Date of Birth</label>
            <label for="cell#">Phone Number</label>
            <label for="profession">Profession</label>
            <label for="reference">Reference</label>
            <label for="residencePhone">Residence Phone Number</label>
            <label for="officePhone">Office Phone Number</label>
            <label for="email">Your Email Address</label>
            <label for="gender">Gender</label>
            <label for="address">Address</label>
            <label for="moveGenre">Movie Genre</label>
            <label for="movieType">Movie Type</label>
            <label for="userName">Username</label>
            <label for="password">Password</label>
            <label for="pinCode">Pin Code</label>
        </div>
        <div class="inputs">
            <input type="text" name="firstName" required = "required" id="firstName1">
            <input type="text" name="lastName"  required = "required" id="lastName1">
            <input type="number" pattern = "\d{13,13}" name="cnic"  required = "required" id="cnic1">
            <input type="date"  name="DOB"  required = "required" id="cnic1">
            <input type="number" name="cell#" required = "required" id="cell#1">
            <input type="text" name="profession" required = "required" id="profession1">
            <input type="text" name="reference" required = "required" id="reference1">
            <input type="number" name="residencePhone" required = "required" id="residencePhone1">
            <input type="number" name="officePhone" required = "required" id="officePhone1">
            <input type="email" name="email"  required = "required" id="email1">
            <input type="text" name="gender" required = "required" id="gender1">
            <input type="text" name="address"  required = "required" id="address1">
            <input type="text" name="movieGenre" required = "required" id="movieGenre1">
            <input type="text" name="movieType" required = "required" id="movieType1">
            <input type="text" name="userName" required = "required" id="userName1">
            <input type="password" name="password" required = "required" id="password1">
            <input type="number" name="pinCode" required = "required" id="pinCode1">
        </div>
    </div>
    <button id = "check" class="btn btn-danger" onclick = "myFunction()">Register</button>
</form>

