<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="../CSS/register_member_syle.css">

<h1>Member Registration</h1>
<style>
.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: orange;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: orange;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color: #333;
  }</style>

<div class="box">
	<a class="button" href="#popup1">Member Benefits</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Member Benefits</h2>
        <div class="content">
            • Free Gift Vouchers<br>
            • Free Ticket Wednesday<br>
            • 10% off on all concessions<br>
            • Special Screenings/ Premiers.<br>
            • Weekly Movie Schedule (sms/email)<br>
            • Affiliate / Partner’s Offers and Discounts.<br>
		</div>
		<a class="close" href="#">×</a>
		
	</div>
</div>

<form action="/">
    <div class="formDiv">
        <div class="labels">
            <label for="firstName">First Name</label>
            <label for="lastName">Last Name</label>
            <label for="cnic">Date Of Birth</label>
            <label for="cell#">Phone Number</label>
            <label for="profession">Profession</label>
            <label for="reference">Reference</label>
            <label for="residencePhone">Residence Phone Number</label>
            <label for="officePhone">Office Phone Number</label>
            <label for="email">Your Email Address</label>
            <label for="gender">Gender</label>
            <label for="address">Address</label>
            <label for="moveGenre">Movie Genre</label>
            <label for="movieType">Movie Type</label>
            <label for="userName">Username</label>
            <label for="password">Password</label>
            <label for="pinCode">Pin Code</label>
        </div>
        <div class="inputs">
            <input type="text" name="firstName" id="firstName1">
            <input type="text" name="lastName" id="lastName1">
            <input type="text" name="cnic" id="cnic1">
            <input type="text" name="cell#" id="cell#1">
            <input type="text" name="profession" id="profession1">
            <input type="text" name="reference" id="reference1">
            <input type="text" name="residencePhone" id="residencePhone1">
            <input type="text" name="officePhone" id="officePhone1">
            <input type="text" name="email" id="email1">
            <input type="text" name="gender" id="gender1">
            <input type="text" name="address" id="address1">
            <input type="text" name="movieGenre" id="movieGenre1">
            <input type="text" name="movieType" id="movieType1">
            <input type="text" name="userName" id="userName1">
            <input type="text" name="password" id="password1">
            <input type="text" name="pinCode" id="pinCode1">
        </div>
    </div>
    <button class="btn btn-danger">Register</button>
</form>

