<link rel="stylesheet" href="../CSS/nicepage.css" media="screen">
<link rel="stylesheet" href="../CSS/Sign-In.css" media="screen">
<script class="u-script" type="text/javascript" src="../JS/jquery.js" defer=""></script>
<script class="u-script" type="text/javascript" src="../JS/nicepage.js" defer=""></script>
<meta name="generator" content="Nicepage 5.0.7, nicepage.com">
<link id="u-theme-google-font" rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


<script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/9cc20ec27e262e6b503db2b8e39e451b26e4ffe864a96292684a582de300ba4ec24c3f37915c2a545a16a3f3fd9ee9180ea892e5e33d5c330d3bc9_1280.jpg",
		"sameAs": []
}</script>
<meta name="theme-color" content="#478ac9">
<meta property="og:title" content="Sign In">
<meta property="og:type" content="website">
</head>

<body data-lang="en">

  <%- include('partials/navbar', {active1: "nav-link active" }) %>
    <script>document.getElementById("home").className = "nav-link"</script>
    <script>document.getElementById("about").className = "nav-link"</script>
    <script>document.getElementById("contact").className = "nav-link"</script>
    <script>document.getElementById("signin").className = "nav-link active"</script>

    <div class="u-clearfix u-expanded-width u-layout-wrap u-block-control u-block-6ead-36"
      style="margin-top: 60px; margin-bottom: 60px; margin: auto" data-layout-wrap-id="3" data-block="99"
      data-block-type="Layout">
      <div class="u-layout">
        <div class="u-layout-row">
          <!-- <div
            class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-block-control ui-draggable ui-droppable u-block-6ead-37"
            data-image-width="714" data-image-height="1080"
            style="min-height: 579px; background-image: url(&quot;/1f6268c4a0cafc/pexels-photo-3694884.jpeg&quot;); background-position: 50% 50%"
            data-uploaded-src="np://user.desktop.nicepage.com/Site_181583140/images/pexels-photo-3694884.jpeg"
            data-cell-id="5" data-column-id="5" data-block="100">
            <div class="u-container-layout u-block-6ead-38"
              style="padding-top: 30px; padding-left: 30px; padding-right: 30px; padding-bottom: 0"
              data-container-layout-dom="5">
            </div>
          </div> -->
          <div
            class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-30 u-block-control ui-draggable ui-droppable u-block-6ead-39"
            style="min-height: 576px; background-image: none; background-color: #080c54;" data-cell-id="6" data-column-id="6" data-block="101">
            <div class="u-container-layout u-valign-middle u-block-6ead-40"
              style="padding-top: 0; padding-left: 2px; padding-right: 2px; padding-bottom: 30px"
              data-container-layout-dom="6">
              <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-block-control u-block-6ead-45"
                style="font-weight: 700; margin-top: 0; margin-bottom: 0; margin-left: auto; margin-right: auto;color:white"
                data-block="102">Log in</h3>
              <div class="u-form u-login-control u-white u-block-control u-block-6ead-24"
                style="height: 413px; width: 433px; background-image: none; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0;"
                data-block="103">
                <form action="/signup" method="POST"
                  class="u-clearfix u-form-custom-backend u-form-spacing-20 u-form-vertical u-inner-form"
                  source="custom" name="form" style="padding: 30px;" data-services="">

                  <div class="u-form-group u-form-name u-block-control ui-draggable ui-draggable-handle u-block-6ead-25"
                    style="" data-block="104">
                    <label for="username-a30d" class="u-label u-block-6ead-26" style="">Email</label>
                    <input type="text" placeholder="Enter your Email" id="username-a30d" name="email"
                      class="u-grey-5 u-input u-input-rectangle u-block-6ead-27" required=""
                      style="background-image: none">
                  </div>
                  <div
                    class="u-form-group u-form-password u-block-control ui-draggable ui-draggable-handle u-block-6ead-28"
                    style="" data-block="105">
                    <label for="password-a30d" class="u-label u-block-6ead-29" style="">Password</label>
                    <input type="password" placeholder="Enter your Password" id="password-a30d" name="password"
                      class="u-grey-5 u-input u-input-rectangle u-block-6ead-30" required=""
                      style="background-image: none">
                  </div>
                  <div
                    class="u-form-checkbox u-form-group u-block-control ui-draggable ui-draggable-handle u-block-6ead-31"
                    style="" data-block="106">
                    <input type="checkbox" id="checkbox-a30d" name="remember" value="On">
                    <label for="checkbox-a30d" class="u-label u-block-6ead-32" style="">Remember me</label>
                  </div>
                  <div class="u-align-left u-form-group u-form-submit u-block-control u-block-6ead-33" style=""
                    data-block="107" style="color:#080c54">
                    <a href="#"
                      class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-block-control ui-draggable ui-draggable-handle u-block-6ead-34"
                      style="width: 100%; background-image: none; border-style: none; padding-top: 10px; padding-right: 31px; padding-bottom: 10px; padding-left: 29px; color:#080c54"
                      data-block="108">Login</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                  </div>
                  <input type="hidden" value="" name="recaptchaResponse">


                </form>
              </div>
              <a href="/registerMemberPage"
                class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-login-control u-login-create-account u-none u-text-grey-40 u-text-hover-palette-4-base u-block-control u-block-6ead-23"
                style="border-style: none; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0"
                data-block="110">Don't have an account?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>