
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>.gradient-custom-2 {
      /* fallback for old browsers */
     /* fallback for old browsers */
background: #663399;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #663399, #b3b3b3);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #663399, #b3b3b3);
  }
      
      @media (min-width: 768px) {
      .gradient-form {
      height: 100vh !important;
      }
      }
      @media (min-width: 769px) {
      .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      }
      }</style>
  
    <section class="h-100 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">We are The ABA Team</h4>
                    </div>
    
                    <form action="/login" method="POST">
                      <p>Please login to your account</p>
    
                      <div class="form-group">
                          <label for="username" class="form-label">Username</label>
                          <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" name="password" id="password" class="form-control">
                        </div>
    
                      
    
                        <button class="btn btn-primary" style = "background-color: #663399;
                        color: white;
                        border-color: #663399;">Login</button>
  
    
                    </form>
    
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Welcome to Cinema Management System</h4>
                    <p class="small mb-0">Our goal is to provide a seamless and fast interface to manage Theatres, employees and view analytics.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  