<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="container mt-5"><h1 class="mb-5 mt-5 mx-auto">Create Show</h1></div>
        
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

    <script>
        var mysql = require('mysql');

        var con = mysql.createConnection({
            host: "localhost",
            user: "root",
            password: "abdularham123",
            database: "cinema",
            insecureAuth: true
        });

        async function viewTicketSales(year) {
            const result = await new Promise((resolve) => {
                con.query("SELECT MONTHNAME(Res_Time) sales_month, SUM(Price) + SUM(glasses * 200) sales FROM VU_Ticket_Sales WHERE YEAR(Res_Time) = (?) GROUP BY MONTHNAME(Res_Time) ORDER BY MONTH(Res_Time)", [year], (err, res) => {
                    if (err) throw err;
                    resolve(res);
                })
            })
            return result;
        }

        const values = viewTicketSales(2022);
        var xValues = [];
        var yValues = [];
        values.forEach(function (value) {
            xValues.push(value[0]);
            yValues.push(value[1]);
        });
        var barColors = "blue";

        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Sales (Rs.)'
                        },
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                },
                title: {
                    display: true,
                    text: "Monthly Ticket Sales"
                }
            }
        });
    </script>
</body>

</html>