<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cinema Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewFilms">View Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/insertFilm">Insert Film</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getEmployee">Get Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addEmployee">Add Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addScreen">Add Screen</a>
        </li>
      </ul>
    </div>
  </nav>
    
<form action="/seeMore" method="post" class="form-group movie-container">
  <label style="font-size: 1em;" class="d-block">Pick a movie:</label>
  <select id="movie" name="someName" class="form-control">
    <% while (iterator> 0) {%>
      <option value="<%=result[iterator-1].Film_ID%>" name="<%=result[iterator-1].Title%>">
        <%=result[iterator-1].Title%></option>
      <% iterator -=1 } %>
    </select>
    <button id="seeMoreButton" class="btn btn-primary mt-3">See More</button>
  </form>
