<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<%- include('partials/navbar') %>
    
  
<div class="container mt-5">
  <h1>Enter Employee ID</h1>
  <form action="/getEmployee" method="post">
    <div class="form-group">
      <label for="empId">Employee ID</label>
      <input type="number" name="empId" id="empId" class="form-control">
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
